/pms.cnsumi.com
/lastupdate.tmp
routers/
/.DS_Store
exec/TNGVideoTool/TNGVideoTool
exec/main.go
pms.db
exec/exec
exec/getrtsp/getrtsp
exec/getStreamType/getStreamType
exec/onvif/onvif_srvd
go.mod
go.sum
.idea
