[Unit]
Description=pms.cnsumi.com
ConditionFileIsExecutable=/pms.cnsumi.com/start.sh
Requires=EasyDarwin_Service
After=EasyDarwin_Service

[Service]
StartLimitInterval=5
StartLimitBurst=10
ExecStart=/pms.cnsumi.com/start.sh
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -9 $MAINPID

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target